<%= javascript_include_tag 'users/callendar', 'data-turbolinks-track': 'reload' %>
<div class="user top container">
  <div class="row">
  	<div class='col-xs-6'>
  	  <div class="user_top_text">
        <h3><strong>どんな行持がある？</strong></h3>
        <table class= 'table user-top'>
          <table border="0" width="400" height="300">
            <thead>
              <tr style="font-size: 15pt">
                <th style =  "text-align: center"><%= image_tag 'about_img1.jpg', size: '50x50' %>　　坐禅 ▶︎</th>
                <td>座禅をします。</td>
              </tr>
              <tr style="font-size: 15pt">
                <th style =  "text-align: center"><%= image_tag 'about_img1.jpg', size: '50x50' %>　　坐禅 ▶︎</th>
                <td>座禅をします。</td>
              </tr>
              <tr style="font-size: 15pt">
                <th style =  "text-align: center"><%= image_tag 'about_img1.jpg', size: '50x50' %>　　坐禅 ▶︎</th>
                <td>座禅をします。</td>
              </tr>
              <tr style="font-size: 15pt">
                <th style =  "text-align: center"><%= image_tag 'about_img1.jpg', size: '50x50' %>　　坐禅 ▶︎</th>
                <td>座禅をします。</td>
              </tr>
            </thead>
          </table>
        </table>
  	  	<h4>
  	  		こちらから、所属寺院の行持予定をカレンダーで確認出来ます。<br>
  	  		カレンダー上の予定をクリックすると、詳細画面へ飛びます。<br>
  	  		参加したい行持がある場合は、行持詳細を確認後、
  	  		寺院へご連絡ください。
  	  	</h4>
  	  </div>
  	</div>

  	<div class='col-xs-6'>
      <h3><strong>所属寺院行持カレンダー</strong></h3>
  	  <div id="calendar"></div>
  	</div>
  </div>
</div>

<!-- 任意のJavaScriptを読み込む為 -->
<%= javascript_include_tag 'users/callendar.js' %>