<%= javascript_include_tag 'users/callendar', 'data-turbolinks-track': 'reload' %>
<div class="user top container">
  <div class="row">
  	<div class='col-xs-6'>
  	  <div class="user_top_text">
        <h3><strong>行事の概要や目的の一例をご紹介！</strong></h3>
        <table class= 'table user-top'>
              <tr style="font-size: 12pt">
                <th ><%= image_tag 'user_top1.jpeg', size: '70x70' %></th>
                <td >座禅▶︎</td>
                <td style="font-size: 10pt">
                  座って行う禅の修行の一つです。最近の科学的研究から、<br>「座禅には、一般の人々にとっても心理的、身体的なメリットが存在する」という説が有力となっています。<br>
                  心を落ち着かせたい方におすすめです！
                </td>
              </tr>
             <tr style="font-size: 12pt">
                <th ><%= image_tag 'user_top2.jpeg', size: '70x70' %></th>
                <td >写経▶︎</td>
                <td style="font-size: 10pt">
                  お経を書き写していく修行になります。<br>
                  一文字一文字を丁寧に書くことを意識する為、集中力や忍耐力の向上をしたい方におすすめです!<br>
                  程度は人によりますが、写経で字が上手くなることもメリットです。
                </td>
              </tr>
            <tr style="font-size: 12pt">
                <th ><%= image_tag 'user_top3.jpeg', size: '70x70' %></th>
                <td >梅花▶︎</td>
                <td style="font-size: 10pt">
                  梅花は「ばいか」と呼び、別名で「詠讃歌(えいさんか)」、「御詠歌(ごえいか)」という呼び方もあります。<br>
                  仏の教えや仏を礼讃する思いを歌にした仏讃歌であり、キリスト教における讃美歌の和製バージョンのようなものと思っていただければ近いです。<br>
                  仏教の教えを、楽しく学びたいという方におすすめです！
                </td>
              </tr>
        </table>
        <div class="user_top_text2">
    	  	<h4>
    	  		カレンダー上の予定をクリックすると、詳細画面へ遷移出来ます。<br>
    	  		参加したい行持がある場合は、行持詳細を確認後、<br>
    	  		寺院へご連絡ください。
    	  	</h4>
        </div>
  	  </div>
  	</div>

  	<div class='col-xs-6'>
      <h3><strong>所属寺院行持カレンダー</strong></h3>
  	  <div id="calendar"></div>
  	</div>
  </div>
</div>

<!-- 任意のJavaScriptを読み込む為 -->
<%= javascript_include_tag 'users/callendar.js' %>