<div class="container">
  <div class="row">
    <h3>ご登録済の檀家の方はこちらからログイン</h3>
      <div style="text-align: center;">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table border="0" align="center">
          <tr height="50">
            <th>メールアドレス　</th>
            <td><%= f.text_field :email, autofocus: true, autocomplete: "email", size:50 %></td>
          </tr>
          <tr height="50">
            <th>パスワード　</th>
            <td><%= f.password_field :password, autocomplete: "current-password", size:50 %></td>
          </tr>
        </table>
      <%= link_to "=>パスワードを忘れた方はこちら", new_user_password_path(resource_name) %>

        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-primary" %>
        </div>
      <% end %>
      </div>

      <h4>登録がお済みでない檀家様は</h4>
        <p>　　<%= link_to "こちら", new_admin_registration_path  %>から新規登録してください。</p>
  </div>
</div>
