<div class="user show container">
  <h2>檀家登録詳細情報</h2>
  <%= render partial: 'layouts/flash', flash: flash %>
  <div class="row">
  	<div class='col-xs-8'>
  	  <table class='table table-admin'>
        <table border="1" width="600" height="300" >
          <tr>
            <th width="30%" bgcolor="#EEEEEE">氏名</th>
            <td width="70%"><%= @user.fam_name %><%= @user.first_name %></td>
          </tr>
          <tr>
      		<th bgcolor="#EEEEEE">フリガナ</th>
      		<td><%= @user.fam_name_kana %><%= @user.first_name_kana %></td>
      	  </tr>
      	  <tr>
      		<th bgcolor="#EEEEEE">郵便番号</th>
      		<td><%= @user.post_code %></td>
      	  </tr>
      	  <tr>
      		<th bgcolor="#EEEEEE">現住所</th>
      		<td><%= @user.address %></td>
      	  </tr>
      	  <tr>
      		<th bgcolor="#EEEEEE">本籍</th>
      		<td><%= @user.domicle %></td>
      	  </tr>
      	  <tr>
      		<th bgcolor="#EEEEEE">メールアドレス</th>
      		<td><%= @user.email %></td>
      	  </tr>
      	  <tr>
      		<th bgcolor="#EEEEEE">電話番号</th>
      		<td><%= @user.tel %></td>
      	  </tr>
      	  <tr>
      		<th bgcolor="#EEEEEE">所属寺院</th>
      		<td><%= @user.admin.name %></td>
      	  </tr>
          <tr>
          <th bgcolor="#EEEEEE">ステータス</th>
          <td>
            <% if @user.is_active == true %>檀家
            <% else @user.is_active == false %>離檀
            <% end %>
          </td>
          </tr>
      	</table>

      	<table>
          <tr>
            <th>
              <div class="btn-s">
                <%= link_to "編集ページへ", edit_admins_user_path(@user.id), class: "btn btn-success bn-lg" %>
              </div>
            </th>
            <td>
              <div class="btn-p">
                <%= link_to "檀家一覧へ戻る", admins_users_path, class: "btn btn-primary bn-lg" %>
              </div>
            </td>
          </tr>
        </table>
      </table>
  	</div>
  </div>
</div>