<div class="admin show container">
	<h2>寺院登録情報</h2>
  <div class="row">
  	<div class='col-xs-3'>
      <%= attachment_image_tag(@admin, :image, :fill, 180, 180, fallback: "no_image.png") %>
    </div>
  	<div class='col-xs-4'>
  	  <table class='table table-admin'>
        <table border="1" width="600" >
        <thead>
      	  <tr height="50">
            <th width="25%">寺院名</th>
              <td width="75%"><%= @admin.name %></td>
          </tr>
          <tr height="50">
            <th>フリガナ</th>
              <td><%= @admin.name_kana %></td>
          </tr>
          <tr height="50">
            <th>郵便番号</th>
              <td><%= @admin.post_code %></td>
          </tr>
          <tr height="50">
            <th>住所</th>
              <td><%= @admin.address %></td>
          </tr >
          <tr height="50">
            <th>メールアドレス</th>
              <td><%= @admin.email %></td>
          </tr>
          <tr height="50">
            <th>電話番号</th>
              <td><%= @admin.tel %></td>
          </tr>
        </thead>
        </table>

        <table>
          <tr>
            <th>
              <div class="btn-s">
                <%= link_to "編集ページへ", edit_admins_admin_path, class: "btn btn-success bn-lg" %>
              </div>
            </th>
            <td>
              <div class="btn-p">
                <%= link_to "トップへ戻る", admins_top_path, class: "btn btn-primary bn-lg" %>
              </div>
            </td>
          </tr>
        </table>
      </table>
	  </div>
  </div>
</div>