<%= javascript_include_tag 'admins/callendar', 'data-turbolinks-track': 'reload' %>
<div class="admin top container">
  <div class="row">
  	<div class='col-xs-6'>
  	<h3><strong>本日の行持一覧</strong></h3>
  	<table class="table table-event-today">
      <thead>
        <tr bgcolor="#EEEEEE">
          <th>行持名</th>
          <th>開始時間</th>
          <th>終了時間</th>
          <th>カレンダー表示</th>
        </tr>
      </thead>
  	  <% @events. each do |event| %>
  	    <tr>
    	    <td>
    	    	<%= link_to admins_event_path(event.id) do %>
    	    	<%= event.title %>
    	    	<% end %>
    	    </td>
          <td>
            <%= event.start_datetime.strftime("%H時%M分") %>
          </td>
          <td>
            <%= event.end_datetime.strftime("%H時%M分") %>
          </td>
          <td>
            <% if event.validity == true %>表示
            <% else event.validity == false %>非表示
            <% end %>
          </td>
        </tr>
  	  <% end %>
  	</table>
  	</div>

  	<div class='col-xs-6'>
      <h3><strong>行持カレンダー</strong></h3>
  	  <div id="calendar"></div>
  	</div>
  </div>
</div>

<!-- 任意のJavaScriptを読み込む為 -->
<%= javascript_include_tag 'admins/callendar.js' %>