<%= form_with model:@event,url: admins_events_path(@event), local: true do |f| %>
<%= f.hidden_field :admin_id, value: current_admin.id %>
<table class='table table-admin-edit'>
  <table border="0" width="600" >
  	<tr>
  	  <th>行持名</th>
  	  <td><%= f.text_field :title, class: "event_title" %></td>
  	</tr>
  	<tr>
  	  <th>開始日時</th>
  	  <td><%= f.datetime_select :start_datetime, class: "event_start_datetime" %></td>
  	</tr>
  	<tr>
  	  <th>終了日時</th>
  	  <td><%= f.datetime_select :end_datetime, class: "event_end_datetime" %></td>
  	</tr>
  	<tr>
  	  <th>所要時間</th>
  	  <td><%= f.text_field :time, class: "event_time" %>　分</td>
  	</tr>
  	<tr>
  	  <th>制限人数</th>
  	  <td><%= f.text_field :limit_count, class: "event_limit_time" %>　＊必要な場合のみ記入</td>
  	</tr>
  	<tr>
  	  <th>行持概要</th>
  	  <td><%= f.text_area :introduction, class: "event_introduction" %></td>
  	</tr>
  	<tr>
  	  <th>
  	  	<%= f.radio_button :validity, :true %>
  	  	<%= f.label :validity, "表示", {value: :true, style: "display: inline-block;"} %>
  	  </th>
  	  <td>
  	  	<%= f.radio_button :validity, :false %>
  	  	<%= f.label :validity, "非表示", {value: :false, style: "display: inline-block;"} %>
  	  </td>
  	</tr>
  </table>
</table>

<table>
  <tr>
    <th>
      <div class="btn-p">
        <%= f.submit "行持を追加", class: "btn btn-primary " %>
      </div>
    </th>
  </tr>
  <tr>
    <th>　</th>
  </tr>
  <tr>
    <th>　</th>
  </tr>
</table>
<% end %>