<div class="container">
  <div class="row">
   <h2>新規行持追加・一覧画面</h2>
   <%= form_with model:@event,url: admins_events_path(@event), method: :patch do |f| %>
   <div class='col-xs-4'>
   	 <%= attachment_image_tag(@event, :image, :fill, 180, 180, fallback: "no_image.png") %>
     <%= f.attachment_field :image, class: "event-form" %>
   </div>
   <% end %>
   <div class='col-xs-8'>
   	<%= render 'form', event: @event %>
   </div>

	  <table class='table table-events'>
		<thead>
			<tr bgcolor="#EEEEEE">
				<th>行持名</th>
				<th>開始日時</th>
				<th>終了日時</th>
				<th>表示状態</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		  <% @events.each do |event| %>
		  <tr>
		  	<th>
		  		<%= attachment_image_tag(@event, :image, :fill, 50, 50, fallback: "no_image.png") %>
		  		<%= link_to admins_event_path(event.id) do %>
		  		  <%= event.title %>
		  		<% end %>
		  	</th>
		  	<th><%= event.start_datetime %></th>
		  	<th><%= event.end_datetime %></th>
		  	<th>
		  	  <% if event.validity == true %>表示
		  	  <% else event.validity == false %>非表示
		  	  <% end %>
		  	</th>
		  	<th><%= link_to '編集', edit_admins_event_path(event), class: "btn btn-success" %></th>
		  	<th><%= link_to '削除', admins_event_path(event), class:"btn btn-danger", method: :delete %></th>
		  </tr>
		  <% end %>
		</tbody>
	  </table>
	</div>
  </div>
</div>